@font-face{
    font-family: "NanumBarunGothic";
    src:url(../fonts/NanumBarunGothic.eot);
    src:local('※'),url(../fonts/NanumBarunGothic.ttf), url(../fonts/NanumBarunGothic.woff);
}
html{font-size:62.5%}
/* 헤더 */
header{
    position: fixed;
    top: 0; left: 0;
    width:100%;
    background:#fff;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    z-index:9999;
}
header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:120rem;   
    margin:0 auto;
}
/* 헤더 GNB */
header>div ul.depth1{
    display: flex;
}
header>div ul.depth1>li{
    position: relative;
    height:8.3rem;
    font:1.6rem/8.3rem "NanumBarunGothic", 돋움, Dotum, sans-serif;
    padding:0 3.7rem;
}
header>div ul.depth1>li>a{
    padding-bottom: 1.2rem;
    color:#222;
}
/* Depth 2 */
header>div .depth2{
    display: none;
    border:0.1rem solid #0c215d;
}
header>div .depth2>li{
    position: relative;
}
header>div .depth2>li>a{
    display: block;
    width: 18.5rem;
    padding-left: 2rem;
    font:1.4rem/4.3rem "NanumBarunGothic", 돋움, Dotum, sans-serif;
    color:#fff;
    border-bottom:0.1rem solid #0c215d;
    box-sizing: border-box;
    background: #07399c;
}
header>div .depth2 a.more-depth{
    background: url(../image/icons/bu_2depth.png)no-repeat 16.6rem 1.8rem,#07399c;
}
/* Depth 3 */
header>div .depth3{
    display: none;
}
header>div .depth3>li>a{
    display: block;
    width: 18.5rem;
    padding-left: 0.5rem;
    font:1.4rem/4.3rem "NanumBarunGothic", 돋움, Dotum, sans-serif;
    color:#222;
    box-sizing: border-box;
    background: #fff;
}
/* 헤더 검색박스 */
header>div>.search-box{
    display: flex;
    gap: 0.2rem;
}
header>div>.search-box>a{
    display: block;
    font: 1.2rem/3.6rem "NanumBarunGothic", 돋움, Dotum, sans-serif;
    border-radius: 0.5rem;
    color:#222;
}
header>div>.search-box>.search{
    width:9.1rem;   height:3.6rem;
    padding-left:1rem;
    color:#fff;
    background:url(../image/icons/ic_search.png)no-repeat 6.4rem 0.8rem,#424c51;
    box-sizing: border-box;
}
header>div>.search-box>.lang{
    width:4.6rem;   height:3.6rem;
    font-weight: bold;
    text-align: center;
    border:0.1rem solid #a9b0b8;
    background: url(../image/icons/country_off.png)no-repeat 2rem 2.6rem,#fff;
    box-sizing: border-box;
}
/* 이벤트 */
header>div ul.depth1>li:hover>a{
    border-bottom:0.3rem solid #07399c;
}
header>div ul.depth1>li:hover>.depth2{
    display: block;
    position: absolute;
    left: 0;
    z-index: 999;
}
header>div .depth2 a:hover{
    color:#222;
    background: #fff;
}
header>div .depth2 a.more-depth:hover{
    background: url(../image/icons/bu_2depth_on.png)no-repeat 16.6rem 1.8rem,#fff;
}
header>div .depth2 a.more-depth:hover+.depth3{
    display: block;
    position: absolute;
    top:-0.1rem;
    left:100%;
    border:0.1rem solid #0c215d;
}