@import url(main.css);
@import url(footer.css);
@font-face{
    font-family: "NanumBarunGothic";
    src:url(../../fonts/NanumBarunGothic.eot);
    src:local('※'),url(../../fonts/NanumBarunGothic.ttf), url(../../fonts/NanumBarunGothic.woff);
}
*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: "NanumBarunGothic",sans-serif;
}
.center{
    max-width:120rem;
    margin: 0 auto;
}
.tablet_header{
    display: block;
    display: flex;
    position: fixed;
    top: 0; left: 0;
    width:100%; height:6rem;
    padding:0 2rem;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.3);
    z-index:9999;
}
body>header>div{
    display: none;
}
.tablet_header>a:nth-of-type(1)>img{
    width:2.3rem;   height:1.5rem;
}
.tablet_header>a:nth-of-type(2)>img{
    width:10.7rem;  height:1.5rem;
}
.tablet_header>a:nth-of-type(3)>img{
    width:2.3rem;  height:2.3rem;
}
